<div id = 'myMenu'>
<div class="userCss" ng-click="openNewsDiv()" >Добави новина</div>
<div class="userCss" ng-click="openMyNews()">Моите новини</div>
</div>

<div ng-show="!myNews" class="add">
    <p>Добавяне на новина</p>
    <div>
        <h3>Публикуването на новини става само след преглед и одобрение от екипа на Footbal World.</h3>
        <div>
            <input ng-model="news._id" type="hidden">
            <p>Заглавие:</p>
            <input ng-model="news.title" type="text">
            <p>Текст:</p>
            <textarea ng-model="news.text" cols="80" rows="10"></textarea>
            <p>URL за снимка</p>
            <input ng-model=news.img type="text">
            <br/>
            <p>URL за видео</p>
            <input ng-model=news.video type="text">
            <br/>
            <select ng-model="news.category1">
                    <option value="" selected disabled hidden>Изберете категория</option>
                <!-- <option disabled selected="selected">Изберете категория</option> -->
                <option ng-repeat="category in categoryMenu track by $index">{{category}}</option>
            </select>
            <select ng-model="news.category2">
                    <option value="" selected disabled hidden>Изберете категория</option>
                    <option ng-repeat="category in categoryMenu track by $index">{{category}}</option>
                </select>
                <select ng-model="news.category3">
                        <option value="" selected disabled hidden>Изберете категория</option>
                        <option ng-repeat="category in categoryMenu track by $index">{{category}}</option>
                    </select>
        </div>
    </div>


    <div>
        <h3 class="error" ng-show="isEmpty()">{{theEmpty}} e празно поле</h3>
    </div>
    <button class="sendData" ng-click ="addNewNews()">Запиши</button>
</div>

<div ng-show="myNews" class = "userNews">
        <p>Моите новини</p>
        <h3 ng-show="!allNews.length">Няма ваши одобрени новини</h3>
    <div ng-repeat="news in allNews">
        <news news="news"></news>
    </div>
</div>
