<div id='newsPreview'>
    <section class='newsPreview'>
        <h1>{{news.title}}</h1>
        <img ng-show="news.video == ''" ng-src="{{news.img}}" alt="">
        <video ng-show="news.video !== ''" src="{{news.video}}" width="500" controls></video>
        <p>{{news.text}}</p>
        <div id='enterComment' >
            <input type="text" name='name' placeholder="Вашето име" ng-model = 'newComment.username'>
            <textarea name="comment" id="comment" cols="50" rows="7" placeholder="Вашият коментар" ng-model = 'newComment.text'></textarea>
            <button ng-click="addComment()">ИЗПРАТИ</button>
        </div>
        <div ng-repeat="comment in comments">
            <p>{{comment.username}}</p>
            <p>{{comment.date}}</p>
            <p>{{comment.text}}</p>
            <button ng-show="loggedUser.isAdmin" ng-click="deleteComment(comment._id)">Изтрий коментара</button>
        </div>
    </section>
</div>