body{
    background-image: url("background.jpg");

}
#nav{
    width: 100%;
    height: 70px;
    /* border: 1px solid green; */
    background-image: url("nav1.jpeg");
    position: fixed
}
ul{
    list-style-type: none;
}
ul > li{
    float: left;
    margin-top: 20px;
}
a{
    text-decoration: none;
    color: lightgrey;
    padding: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
a:hover{
    color: rgb(247, 121, 48);
}

#searchInput{
    float: left;
    margin-top: 15px; 
    padding-left: 10px;
    margin-left: 10px;
    
}
#search a {
    background-color: #292828;
    /* float:  right; */
    width: 60%;
    margin-top: 30px;
}
#login{
    display: inline-block;
    /* width: 60px; */
    width:20%;
    float: left;
    display: inline-block;
    box-sizing: border-box;
}
#login img{
    width: 20px;
    padding-left: 1%; 
    margin-top: 11px; 
}

#login span{
    padding: 1%;
}

#logo{
    width: 130px;
    float: left;
    margin-right: 50px; 
    margin-left: 185px;
}
#wrapper{
    width: 93%;
    /* border: 1px solid green; */
    box-sizing: border-box;
    display: inline-block;
    margin-left: 4%;
    margin-top: 80px; 
}
#menu{
    max-width: 17%;
    /* border: 1px solid green; */
    font-size: 0.77em;
    display: inline-block;
    float: left;
}

#menu > ul> li{
    /* border: 1px solid green; */
    box-sizing: border-box;
    text-align: left;
    margin: auto;
    margin-bottom: 1px;
    width: 190px;
    border-radius: 3px;
    padding: 5px; 
    background-image: url("nav1.jpeg");
    display: inline-block;
}
#poster{
    /* border: 1px solid green; */
    width: 97%;
    margin-top: 50px;
    box-sizing: border-box;
    float: left;   
}

#poster >img{
    width: 100%;
}
#poster2{
    /* border: 1px solid green; */
    width: 60%;
    margin: auto;
    box-sizing: border-box;  
}
#poster2 >img{
    width: 100%;
}
#livescore{
    border: 1px inset  black;
    width: 25%;
    box-sizing: border-box;
    display: inline-block;
    float: right;
    color: floralwhite;
    background-color:  #292828;
    font-size: 0.7em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1%;
}

#mainNews{
    width: 57%;
    height: 17%;
    /* border: 1px solid green; */
    border: 2px inset black ;
    float: left;
    display: inline-block;
}
img.aside {
    width: 18%;
    float: right;
    border:1px inset black ;
}

.selectedNews {
    width: 81%;
    float: left;
}
.selectedNews h1 {
    /* background-image: url(nav1.jpeg) ; */
    color: rgb(247, 121, 48);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 3%;
}
.selectedNews img {
    /* background-image: url(nav1.jpeg) ; */
   float: left;
   width: 100%;
   border: 2px inset black ;
}

.latestNews {
    widows: 20%;
}
.aside:hover{
    border: 2px outset rgb(247, 121, 48);
}

#newsCategory{
    width: 57%;
    /* border: 1px solid green; */
    text-align: center;
    display: inline-block;
    margin-left: 3px;
    background-color:  #292828;
}
#category{
    background-image:url("nav1.jpeg") ;
    display: inline-block;
    box-sizing: border-box;
    color: lightgrey;
    width: 100%;
    border:3px inset black ;
}
.categories{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 30%;
}
.categories:hover{
    color: rgb(247, 121, 48);
}

#newsCategory img{
    width: 97%;
    float: left;
    border: 1px inset  black;

}
#newsCategory h1{
    width: 90%;
    margin: auto;
    color: rgb(247, 121, 48);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.sectionCategory{
    width: 50%;
    float: left;
}

#allNews{
    width: 57%;
    background-color:  #292828;
    border:1px inset black ;
    /* float: left; */
    margin: auto;
    margin-left: 3px;
    display: inline-block;
}
.allNews img{
    width: 60%;
    float: left;
    margin-top: 1%
}
.allNews h1{
    width: 35%;
    float: right;
}

.error{
    color: red;
    font-size: 3em;
    margin-top: 3%;
    color: rgb(247, 121, 48);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#allVideos{
    width: 57%;
    background-color:  #292828;
    border:1px inset black ;
    margin: auto;
    margin-left: 3px;
    display: inline-block;
}
.allVideos img{
    width: 60%;
    float: left;
    margin-top: 1%
}
.allVideos h1{
    width: 35%;
    float: right;
    margin-top: 3%;
    color: rgb(247, 121, 48);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#allPhotos{
    width: 57%;
    background-color:  #292828;
    border:1px inset black ;
    margin: auto;
    margin-left: 3px;
    display: inline-block;
}
.allPhotos img{
    width: 60%;
    float: left;
    margin-top: 1%
}
.allPhotos h1{
    width: 35%;
    float: right;
    margin-top: 3%;
    color: rgb(247, 121, 48);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#allCategories{
    width: 57%;
    background-color:  #292828;
    border:1px inset black ;
    margin: auto;
    margin-left: 3px;
    display: inline-block;
}
.allCategories img{
    width: 60%;
    float: left;
    margin-top: 1%
}
.allCategories h1{
    width: 35%;
    float: right;
    margin-top: 3%;
    color: rgb(247, 121, 48);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#newsPreview{
    width: 57%;
    background-color:  #292828;
    margin: auto;
    margin-left: 3px;
    display: inline-block;

}
#newsPreview h1{
    padding: 1%;
    color: rgb(247, 121, 48);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#newsPreview p{
    padding: 1%;
    font-size: 0.9em;
    color: lightgrey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#newsPreview img {
    width: 85%;
    padding: 2% 6%;
}
#newsPreview video {
    width: 85%;
    padding: 2% 6%;
}

.userCss{
    padding-top: 1em;
    color: white;
    display: inline-block;
    width: 14%;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.userCss:hover{
    color:  rgb(247, 121, 48);
}

.add{
    margin-top: 1em;
    margin-left: 19%;
    width: 54%;
    border: 2px solid  rgb(247, 121, 48);
    border-radius: 8px;
}
.add>p{
    background: rgb(247, 121, 48);
    border: 2px solid rgb(247, 121, 48);
    border-radius: 0px 8px;
    font-size: 1.5em;
}

.add > div{
    margin: 1em;
}

.add > div  p{    
    color: white;
    font-size: 1.3em;
    margin-top: 1em;
}

.add select{
    margin-top: 1em;
}

.add > div > h3{
    color: white;
    font-size: 1em;
    margin-bottom: 1em;
}

.sendData{
    border-radius: 8px;
    background-color: rgb(247, 121, 48);
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 2em;
}

.sendData:hover {
    background-color: #4CAF50;
    color: white;
}

.myForm input{
    border: none;
    border-bottom: 2px solid red;
    color:rgb(247, 121, 48);
    display: block;
    margin: 1em auto;
    border-radius: 8px;
    font-size: 1.5em;
    background: transparent;
}

.myForm h2{
    display: inline-block;
    color: rgb(247, 121, 48);
    font-size: 3em;
    margin-top: 0.5em;
    margin-left: 4em;
}

.myForm input:focus{
    border: 2px solid red;
    outline: none;
}

.myForm::placeholder{
    color: rgb(247, 121, 48);
}

[placeholder]:focus::-webkit-input-placeholder {
    color: transparent;
  }

.myForm div{
    display: inline-block;
    margin-left: 17%;
    margin-top: -1.5em;
  }
#statistic{
    border: 1px solid green;
    width: 57%;
    height: 150%;
    margin: auto;
    margin-left: 3px;
    display: inline-block; 
    background-color: #292828;
}
#statistic input{
    width: 15%;
    border-radius: 10%;
}
#statistic section{
    width: 15%;
}

.userNews{
    width: 57%;
    display: inline-block;
    margin-top: 1em;
}

.userNews img, h1 {
    margin-left: 11%;
}

.userNews div{
    margin-left: 11%;
}