body{
    background-image: url("background.jpg");
}
#nav{
    width: 100%;
    height: 10%;
    background-image: url("nav1.jpeg");
    position: fixed
}
/* ul{
    list-style-type: none;
} */
ul > li{
    float: left;
    margin-top: 1%;
}
nav ul  li {
    width: 9%;
    text-align: center;
}

a{
    text-decoration: none;
    color: lightgrey;
    padding-left: 10%;
    /* margin-left: 10%; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
a:hover{
    color: rgb(247, 121, 48);
}

#searchInput{
    width: 10%;
    float: left;
    margin-top: 1%; 
    padding-left: 2%;
    margin-left: 3%;
    border: none;
    border-bottom: 2px solid rgb(247, 121, 48);
    color:gray;
    border-radius: 3px;
}
#search li {
    background-color: #4e4c4c;
    float:  right;
    width: 25%;
    margin-left: 30%;
    border-radius: 3px;
    padding: 1%;
    font-size: 0.7em;
}

#login{
    position: fixed;
    width:20%;
    float: left;
    display: inline-block;
}
#login img{
    width: 7%;
    padding-left: 1%; 
    margin-top: 3%; 
}

#login span{
    padding: 1%;
}

#logo{
    width: 10%;
    float: left;
    margin-right: 1%; 
    margin-left: 11%;
}
#wrapper{
    width: 93%;
    box-sizing: border-box;
    display: inline-block;
    margin-left: 4%;
    margin-top: 5%; 
}
#menu{
    max-width: 17%;
    /* border: 1px solid green; */
    font-size: 0.77em;
    display: inline-block;
    float: left;
}

#menu > ul> li{
    box-sizing: border-box;
    text-align: left;
    margin: auto;
    margin-bottom: 1px;
    width: 97%;
    border-radius: 3px;
    padding: 7px; 
    background-image: url("nav1.jpeg");
    display: inline-block;
}
#submenu{
    margin-left: 3%;
}
#submenu li{
     /* border-color: 1px solid green; */
    background-color:  #292828;
    border: 1px solid rgba(145, 141, 141, 0.842);
    border-radius: 5px;
    width: 85%;
    padding: 1%;
}
#poster{
    /* border: 1px solid green; */
    width: 97%;
    margin-top: 25%;
    box-sizing: border-box;
    float: left;   
}

#poster >img{
    width: 100%;
}
#poster2{
    /* border: 1px solid green; */
    width: 60%;
    margin: auto;
    box-sizing: border-box;  
}
#poster2 >img{
    width: 100%;
}
#livescore{
    width: 25%;
    box-sizing: border-box;
    display: inline-block;
    float: right;
    color: floralwhite;
    background-color:  #292828;
    font-size: 0.7em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1%;
    border: 1px solid rgba(145, 141, 141, 0.842);
    border-radius: 5px;
}
#livescore caption{
    font-weight: bolder;
    font-size: 1.2em;
}
#livescore table tbody td{
    width: 40%;
    padding-top: 2%;
    padding-bottom: 2%;
}


#livescore table tbody:nth-child(odd){
    background-color: rgba(145, 141, 141, 0.842);
}
#livescore table th{
    font-weight: bolder;
    font-size: 1.2em;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 17%;
}

#livescoreBtn{
float: right;
background-color: rgb(247, 121, 48);
border-radius: 5px;
border-color:rgb(247, 121, 48);
margin-top: 15px;

}
#mainNews{
    width: 57%;
    border: 1px solid rgba(145, 141, 141, 0.842);
    float: left;
    display: inline-block;
    background: #292828;
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 0.3%;
}
img.aside {
    width: 18%;
    float: right;
    border: 2px solid rgba(66, 61, 61, 0.842);
    border-radius: 3%;
}

.selectedNews {
    width: 81%;
    float: left;
}
.selectedNews h1 {
    color: rgb(247, 121, 48);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 3%;
    font-size: 1em;
}
.selectedNews img {
   float: left;
   width: 100%;
   border-radius: 1%;
}

.aside:hover{
    border: 2px outset rgb(247, 121, 48);
    border-radius: 3%;
}

#newsCategory{
    width: 57%;
    text-align: center;
    display: inline-block;
    margin-left: 0.3%;
    background-color:  #292828;
    border: 1px solid rgba(145, 141, 141, 0.842);
    border-radius: 5px;
    box-sizing: border-box;
}
#category{
    background-image:url("nav1.jpeg") ;
    display: inline-block;
    color: lightgrey;
    width: 100%;
    border-bottom: 1px solid rgba(145, 141, 141, 0.842);
    border-radius: 7px;
}

.categories{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 30%;
}
.categories:hover{
    color: rgb(247, 121, 48);
}

#newsCategory img{
    width: 97%;
    float: left;
    border: 2px solid rgba(66, 61, 61, 0.842);
    border-radius: 1%;
}
#newsCategory h1{
    width: 90%;
    margin: auto;
    color: rgb(247, 121, 48);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
}
.sectionCategory{
    width: 50%;
    float: left;
}

#allNews{
    width: 57%;
    background-color:  #292828;
    border: 1px solid rgba(145, 141, 141, 0.842);
    margin: auto;
    margin-left: 0.3%;
    display: inline-block;
    border-radius: 5px;
    font-size: 1em;
}
.allNews img{
    width: 60%;
    float: left;
    margin-top: 1%;
    border-radius: 1%;
    border: 2px solid rgba(66, 61, 61, 0.842);
}
.allNews h1{
    width: 35%;
    float: right;
    margin-top: 2%;
    font-size: 1em;

}

.error{
    color: red;
    font-size: 3em;
    margin-top: 3%;
    color: rgb(247, 121, 48);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#allVideos{
    width: 57%;
    background-color:  #292828;
    border: 1px solid rgba(145, 141, 141, 0.842);
    margin: auto;
    margin-left: 0.3%;
    display: inline-block;
    border-radius: 5px;
}
.allVideos img{
    width: 60%;
    float: left;
    margin-top: 1%;
    border: 2px solid rgba(66, 61, 61, 0.842);
    border-radius: 1%;
    margin-left: 1%;
}
.allVideos h1{
    width: 35%;
    float: right;
    margin-top: 3%;
    margin-right: 1%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
}
#allPhotos{
    width: 57%;
    background-color:  #292828;
    border: 1px solid rgba(145, 141, 141, 0.842);
    margin: auto;
    margin-left: 3px;
    display: inline-block;
    border-radius: 5px;
}
.allPhotos img{
    width: 60%;
    float: left;
    margin-top: 1%;
    border: 2px solid rgba(66, 61, 61, 0.842);
    border-radius: 1%;
    margin-left: 1%;
}
.allPhotos h1{
    width: 35%;
    float: right;
    margin-top: 3%;
    margin-right: 1%;
    color: rgb(247, 121, 48);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
}


#allCategories{
    width: 57%;
    background-color:  #292828;
    border: 1px solid rgba(145, 141, 141, 0.842);
    border-radius: 5px;
    margin: auto;
    margin-left: 3px;
    display: inline-block;
}
.allCategories img{
    width: 60%;
    float: left;
    margin-top: 1%;
    border: 2px solid rgba(66, 61, 61, 0.842);
    border-radius: 1%;
    margin-left: 1%;
}
.allCategories h1{
    width: 35%;
    float: right;
    margin-top: 3%;
    color: rgb(247, 121, 48);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
}
#newsPreview{
    width: 57%;
    background-color:  #292828;
    border: 1px solid rgba(145, 141, 141, 0.842);
    border-radius: 5px;
    margin: auto;
    margin-left: 3px;
    display: inline-block;

}
#newsPreview h1{
    padding: 1%;
    color: rgb(247, 121, 48);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
}
#newsPreview p{
    padding: 1%;
    font-size: 0.9em;
    color: lightgrey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#newsPreview img {
    width: 85%;
    padding: 2% 6%;
    border: 2px solid rgba(66, 61, 61, 0.842);
    border-radius: 1%;
    margin-left: 10px;
}
#newsPreview video {
    width: 85%;
    padding: 2% 6%;
    border: 2px solid rgba(66, 61, 61, 0.842);
    border-radius: 1%;
    margin-left: 10px;
}

.userCss{    
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color:lightgrey;
    display: inline-block;
    width: 49%;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.userCss:hover{
    color:  rgb(247, 121, 48);
}

#myMenu{
    border: 2px solid rgba(66, 61, 61, 0.842);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 57%;
    background-color: #292828;
    margin-left: 17%;
}

.add {
    /* margin-top: 1em; */
    margin-left: 17%;
    width: 57%;
    border: 2px solid  rgb(247, 121, 48);
    border-radius: 8px;
    background-color:#292828;
}
.add > p{
    background: rgb(247, 121, 48);
    border: 2px solid rgb(247, 121, 48);
    border-radius: 0px;
    font-size: 1.5em;
}

.add > div{
    margin: 1em;
}

.add > div  p{    
    color: white;
    font-size: 1.3em;
    margin-top: 1em;
}

.add select{
    margin-top: 1em;
}

.add > div > h3{
    color: white;
    font-size: 1em;
    margin-bottom: 1em;
}

.add input{
    display: block;
    margin-bottom: 1em;
}

.divs{
    margin: 1em;
    width: 45%;
    display: inline-block;
}

.divs input {
    display: inline-block;
}

.divs button {
    display: block;
}

.divs p{
    margin: 1em;
}

.userNews h3{
    color: white;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.sendData{
    border-radius: 8px;
    background-color: rgb(247, 121, 48);
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 2em;
}

.sendData:hover {
    background-color: #4CAF50;
    color: white;
}

.myForm input{
    border: none;
    border-bottom: 2px solid red;
    color:rgb(247, 121, 48);
    display: block;
    margin: 1em auto;
    border-radius: 8px;
    font-size: 1.5em;
    background: transparent;
}

.myForm h2{
    display: inline-block;
    color: rgb(247, 121, 48);
    font-size: 3em;
    margin-top: 0.5em;
    margin-left: 4em;
}

.myForm input:focus{
    border: 2px solid red;
    outline: none;
}

.myForm::placeholder{
    color: rgb(247, 121, 48);
}

[placeholder]:focus::-webkit-input-placeholder {
    color: transparent;
  }

.myForm div{
    display: inline-block;
    margin-left: 17%;
    margin-top: -1.5em;
  }
#statistic{
    width: 57%;
    height: 150%;
    margin-left: 3px;
    display: inline-block; 
    background-color: #292828;
    border: 1px solid rgba(145, 141, 141, 0.842);
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    
}
#statistic input{
    width: 15%;
    border-radius: 10%;
    border: 1px solid rgba(145, 141, 141, 0.842);
    border-radius: 5px;
    margin: 1%
}
#statistic section{
    width: 15%;
    border-radius: 5px;
}
#statistic table tbody:nth-child(odd){
    background-color: rgba(145, 141, 141, 0.842);
}
#statistic table tbody td{
    width: 27%;
    padding: 1%;
}

#statistic table thead{
    background-color: rgba(145, 141, 141, 0.842);
    font-weight: bolder;
}
.userNews{
    width: 57%;
    display: inline-block;
    margin-top: 1em;
}

.userNews > p{
    background: rgb(247, 121, 48);
    border: 2px solid rgb(247, 121, 48);
    border-radius: 0px 8px;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 0.5em;
}

.userNews img h1 {
    margin-left: 11%;
}

.userNews div{
    margin-left: 11%;
}

#enterComment{
    width: 97%;
    background-color: rgba(146, 145, 145, 0.842);
    border: 2px solid rgba(66, 61, 61, 0.842);
    border-radius:5px;
    margin: auto;
    margin-top: 5px;
}
#enterComment input{
    border-radius:5px;
    margin-left:22%;
    border-bottom-color:  rgb(247, 121, 48);
}
#enterComment textarea{
    border-radius:5px;
    margin-left:22%;
    width: 60%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom-color:  rgb(247, 121, 48);
}
#enterComment button{
    border-radius: 5px;
    margin-left:22%;
    border-color: rgb(247, 121, 48);
    background-color:rgb(247, 121, 48);
}
#postedComment{
    width: 97%;
    background-color:  rgba(66, 61, 61, 0.842);
    border: 2px solid rgba(146, 145, 145, 0.842);
    border-radius:5px;
    margin: auto;
    margin-top: 5px;
}
#footer table tbody  {
    width: 100%;
    background-image: url("nav1.jpeg");
    padding: 3%;
    border-left: #4e4c4c;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: floralwhite;
    font-size: 0.7em;
    
}
#footer table{
    width: 100%;
    margin-top: 5%;
}
#footer td{
    width: 20%;
}
#footer table p{
    font-size: 0.5em;
    padding-top: 10px;
}

#mobileMenu {
    display: block;
    width: 20%;
    clear: both;
    display: none;
}
@media all and (max-width: 1109px) {
    nav ul{
        display: none;
    }
    #mobileMenu {
        display: block;
        margin-left: 25%;
        margin-top: -5px;
        position: fixed;
        top: 3%;
        left: 1%;

    } 
    a{
        font-size: 0.6em;
    }
    #searchInput{
        position: fixed;
        top: 1%;
        left: 50%;
    }
    #login{
        position: fixed;
        top: 0.1%;
        left: 65%;
        width: 35%

    }
    #category{
        font-size: 0.4em; 
    }

    #livescore{
        font-size: 0.4em;     
    }
    #livescore table tbody td{
        width: 5%; 
    }
    #statistic{
        font-size: 0.6em;  
        color: floralwhite;
    }
   
 }
 @media all and (max-width: 600px) {
    #livescore{
        display: none;  
       
    }
 }

 @media all and (max-width: 650px) {

    #searchInput{
        /* position: fixed; */
        top: 1.5%;
        /* left: 50%; */
    }
    #login{
        top: 1%;
        width: 40%;
    }
   
   
 }