body{
    background-image: url("background.jpg");

}
#nav{
    width: 100%;
    height: 70px;
    /* border: 1px solid green; */
    background-image: url("nav1.jpeg");
    position: fixed
}
ul{
    list-style-type: none;
}
ul > li{
    float: left;
    margin-top: 20px;
}
a{
    text-decoration: none;
    color: lightgrey;
    padding: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
a:hover{
    color: rgb(247, 121, 48);
}

#searchInput{
    float: left;
    margin-top: 20px; 
    padding-left: 10px;
    margin-left: 10px;
    border: none;
    border-bottom: 2px solid rgb(247, 121, 48);
    color:gray;
    border-radius: 3px;
}
#search li {
    background-color: #4e4c4c;
    float:  right;
    width: 30%;
    margin-left: 30%;
    border-radius: 3px;
    padding: 1%;
    font-size: 0.7em;
}

#login{
    display: inline-block;
   position: fixed;
    width:20%;
    float: left;
    display: inline-block;
}
#login img{
    width: 7%;
    padding-left: 1%; 
    margin-top: 15px; 
}

#login span{
    padding: 1%;
}

#logo{
    width: 130px;
    float: left;
    margin-right: 50px; 
    margin-left: 185px;
}
#wrapper{
    width: 93%;
    /* border: 1px solid green; */
    box-sizing: border-box;
    display: inline-block;
    margin-left: 4%;
    margin-top: 80px; 
}
#menu{
    max-width: 17%;
    /* border: 1px solid green; */
    font-size: 0.77em;
    display: inline-block;
    float: left;
}

#menu > ul> li{
    box-sizing: border-box;
    text-align: left;
    margin: auto;
    margin-bottom: 1px;
    width: 190px;
    border-radius: 3px;
    padding: 7px; 
    background-image: url("nav1.jpeg");
    display: inline-block;
}
#submenu{
    margin-left: 15px;
}
#submenu li{
     /* border-color: 1px solid green; */
     background-color:  #292828;
     border: 1px solid rgba(145, 141, 141, 0.842);
    border-radius: 5px;
     width: 85%;
     padding: 1%;
}
#poster{
    /* border: 1px solid green; */
    width: 97%;
    margin-top: 50px;
    box-sizing: border-box;
    float: left;   
}

#poster >img{
    width: 100%;
}
#poster2{
    /* border: 1px solid green; */
    width: 60%;
    margin: auto;
    box-sizing: border-box;  
}
#poster2 >img{
    width: 100%;
}
#livescore{
    
    width: 25%;
    box-sizing: border-box;
    display: inline-block;
    float: right;
    color: floralwhite;
    background-color:  #292828;
    font-size: 0.7em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1%;
    border: 1px solid rgba(145, 141, 141, 0.842);
    border-radius: 5px;
}
#livescore caption{
    font-weight: bolder;
    font-size: 1.2em;
}
#livescore table thead{
    font-weight: bolder;
    font-size: 1.2em;
}
#mainNews{
    width: 57%;
    border: 1px solid rgba(145, 141, 141, 0.842);
    float: left;
    display: inline-block;
    background: #292828;
    box-sizing: border-box;
    border-radius: 5px;
}
img.aside {
    width: 18%;
    float: right;
    border: 2px solid rgba(66, 61, 61, 0.842);
    border-radius: 3%;
}

.selectedNews {
    width: 81%;
    float: left;
}
.selectedNews h1 {
    color: rgb(247, 121, 48);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 3%;
}
.selectedNews img {
   float: left;
   width: 100%;
   border-radius: 1%;
}

/* .latestNews {
    widows: 20%;
    border-radius: 3%;
    border: 1px solid rgba(145, 141, 141, 0.842);
} */
.aside:hover{
    border: 2px outset rgb(247, 121, 48);
    border-radius: 3%;
}

#newsCategory{
    width: 57%;
    /* border: 1px solid green; */
    text-align: center;
    display: inline-block;
    margin-left: 2px;
    background-color:  #292828;
    border: 1px solid rgba(145, 141, 141, 0.842);
    border-radius: 5px;
    box-sizing: border-box;
}
#category{
    background-image:url("nav1.jpeg") ;
    display: inline-block;
    /* box-sizing: border-box; */
    color: lightgrey;
    width: 100%;
    border-bottom: 1px solid rgba(145, 141, 141, 0.842);
    border-radius: 7px;
}

.categories{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 30%;
}
.categories:hover{
    color: rgb(247, 121, 48);
}

#newsCategory img{
    width: 97%;
    float: left;
    border: 2px solid rgba(66, 61, 61, 0.842);
    border-radius: 1%;
}
#newsCategory h1{
    width: 90%;
    margin: auto;
    color: rgb(247, 121, 48);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.sectionCategory{
    width: 50%;
    float: left;
}

#allNews{
    width: 57%;
    background-color:  #292828;
    border: 1px solid rgba(145, 141, 141, 0.842);
    margin: auto;
    margin-left: 3px;
    display: inline-block;
    border-radius: 5px;
}
.allNews img{
    width: 60%;
    float: left;
    margin-top: 1%;
    border-radius: 1%;
    border: 2px solid rgba(66, 61, 61, 0.842);
}
.allNews h1{
    width: 35%;
    float: right;
    margin-top: 2%;
}

.error{
    color: red;
    font-size: 3em;
    margin-top: 3%;
    color: rgb(247, 121, 48);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#allVideos{
    width: 57%;
    background-color:  #292828;
    border: 1px solid rgba(145, 141, 141, 0.842);
    margin: auto;
    margin-left: 3px;
    display: inline-block;
    border-radius: 5px;
}
.allVideos img{
    width: 60%;
    float: left;
    margin-top: 1%;
    border: 2px solid rgba(66, 61, 61, 0.842);
    border-radius: 1%;
    margin-left: 1%;
}
.allVideos h1{
    width: 35%;
    float: right;
    margin-top: 3%;
    margin-right: 1%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#allPhotos{
    width: 57%;
    background-color:  #292828;
    border: 1px solid rgba(145, 141, 141, 0.842);
    margin: auto;
    margin-left: 3px;
    display: inline-block;
    border-radius: 5px;
}
.allPhotos img{
    width: 60%;
    float: left;
    margin-top: 1%;
    border: 2px solid rgba(66, 61, 61, 0.842);
    border-radius: 1%;
    margin-left: 1%;
}
.allPhotos h1{
    width: 35%;
    float: right;
    margin-top: 3%;
    margin-right: 1%;
    color: rgb(247, 121, 48);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#allCategories{
    width: 57%;
    background-color:  #292828;
    border: 1px solid rgba(145, 141, 141, 0.842);
    border-radius: 5px;
    margin: auto;
    margin-left: 3px;
    display: inline-block;
}
.allCategories img{
    width: 60%;
    float: left;
    margin-top: 1%;
    border: 2px solid rgba(66, 61, 61, 0.842);
    border-radius: 1%;
    margin-left: 1%;
}
.allCategories h1{
    width: 35%;
    float: right;
    margin-top: 3%;
    color: rgb(247, 121, 48);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#newsPreview{
    width: 57%;
    background-color:  #292828;
    border: 1px solid rgba(145, 141, 141, 0.842);
    border-radius: 5px;
    margin: auto;
    margin-left: 3px;
    display: inline-block;

}
#newsPreview h1{
    padding: 1%;
    color: rgb(247, 121, 48);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#newsPreview p{
    padding: 1%;
    font-size: 0.9em;
    color: lightgrey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#newsPreview img {
    width: 85%;
    padding: 2% 6%;
    border: 2px solid rgba(66, 61, 61, 0.842);
    border-radius: 1%;
    margin-left: 10px;
}
#newsPreview video {
    width: 85%;
    padding: 2% 6%;
    border: 2px solid rgba(66, 61, 61, 0.842);
    border-radius: 1%;
    margin-left: 10px;
}

.userCss{
    padding-top: 1em;
    color: white;
    display: inline-block;
    width: 14%;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.userCss:hover{
    color:  rgb(247, 121, 48);
}

.add{
    margin-top: 1em;
    margin-left: 19%;
    width: 54%;
    border: 2px solid  rgb(247, 121, 48);
    border-radius: 8px;
}
.add>p{
    background: rgb(247, 121, 48);
    border: 2px solid rgb(247, 121, 48);
    border-radius: 0px 8px;
    font-size: 1.5em;
}

.add > div{
    margin: 1em;
}

.add > div  p{    
    color: white;
    font-size: 1.3em;
    margin-top: 1em;
}

.add select{
    margin-top: 1em;
}

.add > div > h3{
    color: white;
    font-size: 1em;
    margin-bottom: 1em;
}

.sendData{
    border-radius: 8px;
    background-color: rgb(247, 121, 48);
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 2em;
}

.sendData:hover {
    background-color: #4CAF50;
    color: white;
}

.myForm input{
    border: none;
    border-bottom: 2px solid red;
    color:rgb(247, 121, 48);
    display: block;
    margin: 1em auto;
    border-radius: 8px;
    font-size: 1.5em;
    background: transparent;
}

.myForm h2{
    display: inline-block;
    color: rgb(247, 121, 48);
    font-size: 3em;
    margin-top: 0.5em;
    margin-left: 4em;
}

.myForm input:focus{
    border: 2px solid red;
    outline: none;
}

.myForm::placeholder{
    color: rgb(247, 121, 48);
}

[placeholder]:focus::-webkit-input-placeholder {
    color: transparent;
  }

.myForm div{
    display: inline-block;
    margin-left: 17%;
    margin-top: -1.5em;
  }
#statistic{
    width: 57%;
    height: 150%;
    margin-left: 3px;
    display: inline-block; 
    background-color: #292828;
    border: 1px solid rgba(145, 141, 141, 0.842);
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    
}
#statistic input{
    width: 15%;
    border-radius: 10%;
    border: 1px solid rgba(145, 141, 141, 0.842);
    border-radius: 5px;
}
#statistic section{
    width: 15%;
    /* border: 1px solid rgba(145, 141, 141, 0.842); */
    border-radius: 5px;
}
table tbody:nth-child(odd){
    background-color: rgba(145, 141, 141, 0.842);
}
tbody td{
    width: 27%;
    padding: 1%;
}

table thead{
    background-color: rgba(145, 141, 141, 0.842);
    padding: 1%;
    font-weight: bolder;
}
.userNews{
    width: 57%;
    display: inline-block;
    margin-top: 1em;
}

.userNews img h1{
    margin-left: 11%;
}

.userNews div{
    margin-left: 11%;
}

#enterComment{
    width: 97%;
    background-color: rgba(146, 145, 145, 0.842);
    border: 2px solid rgba(66, 61, 61, 0.842);
    border-radius:5px;
    margin: auto;
    margin-top: 5px;
}
#enterComment input{
    border-radius:5px;
    margin-left:30%;
    border-bottom-color:  rgb(247, 121, 48);
}
#enterComment textarea{
    border-radius:5px;
    margin-left:30%;
   
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom-color:  rgb(247, 121, 48);
}
#enterComment button{
    border-radius:5px;
    margin-left:30%;
    border-bottom-color: rgb(64, 141, 64);
    /* background-color: rgb(64, 141, 64); */
}
#postedComment{
    width: 97%;
    background-color:  rgba(66, 61, 61, 0.842);
    border: 2px solid rgba(146, 145, 145, 0.842);
    border-radius:5px;
    margin: auto;
    margin-top: 5px;
    

}